body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  color: #808080;
  font-weight: bold;
}

a:visited {
  color: #808080;
}

a:hover {
  color: #3b2921;
}

a:active {
  color: darkblue;
}

.top-title {
  font-size: xx-large;
  padding: 10px 100px 10px 100px;
  margin: 0 0 10px 0;
  background-color: lightgrey;
}

.container {
  display: flex;
}

/* ========================================== */
/* Nav */
/* ========================================== */

.nav-item{
  /* all these appear to do nothing */
  height: 30px;
  width: 90%;
  padding: 5px;
  margin: 5px;
}
.nav {
    background-color: lightgrey;
}

.nav-container {
  width: 15%;
  min-height: 700px;
  /* margin: 0 50px 0 0; */
}

/* ========================================== */
/* Portfolio */
/* ========================================== */

.portfolio-container {
    display: block;
}

.portfolio-section {
  width: 80%;
  margin: 0 0 0 10px;
  padding: 5px;
  display: none;
  max-width: 1100px;
}

.bio {
  display: block;
}

.portfolio-item {
  background-color: lightgrey;
}

.portfolio-item__title {
  font-size: xx-large;
}

.portfolio-item__subtitle {
  font-size: large;
}

.portfolio-item__media {
  width: 100%;
  padding: 0 15px 0 0;
}

.portfolio-item__image {
  max-width: 550px;
}

.portfolio-item__image-section {
  padding: 0 15px 0 0;
  /* max-width: 100px; */
}

.portfolio-item__description {
  max-width: 550px;
}

.portfolio-section__summary {
  padding: 10px 15px 10px 0;
}

.portfolio-item__link {
  margin-top: 10px;
}

.portfolio-item__container_next-to-eachother {
  display: flex;
  margin-bottom: 10px;
}

.top-space {
  margin-top: 20px;
}

.portfolio-section__coding-projects {
  display: flex;
}

.portfolio-item__coding-project {
}

.portfolio-item__coding-project img {
  /* display: flex; */
  max-width: 300px;
  min-height: 200px;
}