body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #3b2921;
}

a:active {
  color: darkblue;
}

.top-title {
  font-size: xx-large;
  padding: 10px 100px 10px 100px;
  margin: 0 0 10px 0;
  background-color: lightgrey;
}

.container {
  display: flex;
}

/* ========================================== */
/* Nav */
/* ========================================== */

.nav-item{
  /* all these appear to do nothing */
  height: 50px;
  width: 90%;
  padding: 5px;
  margin: 5px;
}
.nav {
    background-color: lightgrey;
}

.nav-container {
  width: 30%;
  /* margin: 0 50px 0 0; */
}

/* ========================================== */
/* Portfolio */
/* ========================================== */

.portfolio-container {
    display: block;
}

.portfolio-section {
  width: 80%;
  margin: 0 0 0 10px;
  padding: 5px;
  display: none;
}

.bio {
  display: block;
}

.portfolio-item {
  background-color: lightgrey;
}

.portfolio-item__title {
  font-size: xx-large;
}

.portfolio-item__subtitle {
  font-size: large;
}

.portfolio-item__media {
  /* width: 90%; */
  max-width: 550px;
  margin: 5px;
  padding: 5px;
}

.portfolio-item__image {
  max-width: 550px;
}
